* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
header {
  
  background-color: #ADD8E6;
}

header .container{
  border: solid 1px black;
  padding: 50px;
}

header .row{
  display: flex;
  border:solid 1px black;
  padding: 5px;
  background-color: #DAA520;
  width: 1200px;
  margin: auto;
}

header .col-3{
  flex-basis:calc(100% / 3);
  border:solid 1px black;
  padding: 5px;
}

header .col-6 {
  flex-basis: calc(100% / 2);
  border:solid 1px black;
  padding: 5px;
}

/* FINE HEADER */

/* DEBUG */

.debug header {
  border: solid 1px black;
}

/* MAIN */

.section1, .section2-4, .section3, .section5, .section6, .section-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

/* SECTION 1 */

.section1 {
 background-color: blue;
}

.section1 .container {
  width: 1000px;
}

.section1 .row{
  display: flex;
  padding: 100px;
}

.section1 .col {
  border: solid 1px black;
  padding: 150px;
  flex-basis: calc(100% / 12 * 12);
  background-color: #EE82EE;
}

/* SECTION 2 E 4*/

.section2-4 .container {
  width: 1200px;
}

.section2-4  .row {
  display: flex; 
  border: solid 1px black;
}

.section2-4 .col-4 {
  flex-basis:calc(100% / 12 * 4);
  background-color: #FFC0CB;
  padding: 200px;
}

.section2-4 .col-8 {
  flex-basis: calc(100% / 12 * 8);
  background-color: #1E90FF;
}

/* SECTION 3 */

.section3 {
  background-color: #D3D3D3; 
}

.section3 .container {
  width: 1200px;
}

.section3 .row {
  display: flex;
  border: solid 1px black;
}

.section3 .col-4 {
  flex-basis:calc(100% / 12 * 4); 
  background-color: #1E90FF;
  padding: 200px;
}

.section3 .col-8 {
  flex-basis:calc(100% / 12 * 8);
  background-color: #FFC0CB;
}

/* SECTION 5*/

.section5 {
  background-color: #D3D3D3; 
}

.section5 .container {
  width:1200px;
}

.section5 .row {
  display: flex;
  border: solid 1px black;
}

.section5 .col{
  flex-basis: 100%;
  padding: 500px;
  background-color: #228B22;
}

/* SECTION 6 */

.section6 {
  background-color: #23272A;
}

.section6 .container {
  width:1200px;
}

.section6 .row {
  display: flex;
  border: solid 1px black;  
}

.section6 .col-4 {
  flex-basis: calc(100% / 12 *4);
  border: solid 1px black;
  background-color: #F08080;
  
}

.section6 .col-2 {
  flex-basis: calc(100% / 12 *2);
  border: solid 1px black;
  background-color: #20B2AA;
  min-height: 600px;
}

/* FINE MAIN */

/* FOOTER */

footer {
  border-top: white 2px solid;
  background-color: #23272A;
}

.section-footer {
  padding: 0;
  padding-top: 20px;
}

.section-footer .container {
  width: 1200px;
  background-color: #7FFFD4;
}

.section-footer .row {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.section-footer .col {
  border: solid 1px black;
  padding: 10px;
  background-color: #FFB6C1;
}

/* FINE FOOTER */






























