* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  
  background-color: #ADD8E6;
}

.container{
  border: solid 1px black;
  padding: 50px;
}

.row{
  display: flex;
  border:solid 1px black;
  padding: 5px;
  background-color: #DAA520;
}

.col-3{
  flex-basis:calc(100% / 3);
  border:solid 1px black;
  padding: 5px;
}

.col-6 {
  flex-basis: calc(100% / 2);
  border:solid 1px black;
  padding: 5px;
}

/* DEBUG */

.debug header {
  border: solid 1px black;
}






